<nav class="navbar">
  <span class="nav-title">🏥 SCDL — Sistema de Turnos Médicos</span>
  <div class="nav-right">
    <span class="nav-user">{{ user?.username }}</span>
    <span class="badge" [ngClass]="{
      'badge-superadmin': auth.isSuperadmin(),
      'badge-admin':      auth.isAdministrador(),
      'badge-usuario':    auth.isUsuario(),
      'badge-consultas':  auth.isConsultor()
    }">{{ auth.getRolNombre() }}</span>
    <button class="btn btn-danger btn-sm" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>